@charset "UTF-8";

.contents .bbs-wrapper{ height:65%;
margin: 0 100px;  }
.bbs-wrapper .member-info{
    display: grid;
    grid-template-columns: 30% 70%;
    text-align: center;
    height: 55px;
    line-height: 55px;
    margin: 20px 0;
        }
.bbs-wrapper .member-info div{border: 1px solid #eaeaea;}
.bbs-wrapper .member-info div:first-child{ background: #333; color:#fff;}
.bbs-wrapper .member-info div input{padding-left: 5px;}
.bbs-wrapper .member-info div input:focus {outline:none;}
.bbs-wrapper .password{ height: 80px;}
.bbs-wrapper .password div:first-child{ line-height: 80px;}
.bbs-wrapper .password > div > div {     line-height: 10px; border: none;}

.bbs-wrapper .member-info .name-box #change-name{
    height: 23px;
    padding: 6px 22px;
    background: #037b93; 
    color:#fff;
    }


/* 정보 수정하기 버튼  */
#update-btn { margin:20px 0;}
#update-btn > div{border: 1px solid #037b93; width: 150px; height: 60px; line-height: 60px;
	color:#037b93; margin:20px auto; text-align: center; font-size: 18px; transition:all 0.3s ease-in-out;}
#update-btn > div:hover{ background:#037b93; border: 1px solid #037b93; color:#fff;}
